/*~@media screen and (max-width:540px) {
/* /*==============Movile===============* /
/*~}
*/
body[theme = "Dark"] .home{
    /* background-color: rgb(17, 20, 17); */
    /* grid-template-areas: 
    "nav"
    ""
    ; */
}
@media screen and (max-width:1200px)and (min-width:540px){
    /*==============Tablet===============*/
    body[theme = "Dark"] .home{
        display: grid;
        background-color: rgb(17, 20, 17);
        grid-template-areas: 
        " nav    nav    nav    nav"
        "header header header header"
        "skills projects aside"
        "skills projects works"
        "footer footer footer"
        ;
    }
}
@media screen and /*(max-width:1440px)and*/ (min-width:1200px){
    /*==============Laptop===============*/
}
@media screen and (min-width:1440px){
        /*================TV=================*/
}