.H-Header__tilte{
    text-align: center;
    margin: 0;
}
body[theme="Dark"] .H-Header__tilte{
    color: #ddd;
}
body[theme="Light"] .H-Header__tilte{
    color: #242424;
}
.H-Header__Avatar{
    display: block;
    margin: 20px auto;
    border:5px solid;
    border-radius: 10%;
}
body[theme="Dark"] .H-Header__Avatar{
    border-color: #ddd;
}
body[theme="Dark"] .H-Header__Sumary{
    color: #ddd;
}
body[theme="Light"] .H-Header__Avatar{
    border-color: #242424;
}
body[theme="Light"] .H-Header_Sumary__title{
    color: #242424;
    text-decoration: underline #242424;
}
body[theme="Light"] .H-Header_Sumary__text{
    color: #242424;
}
body[theme="Light"] .H-Header__Sumary{
    color: #242424;
}

.H-Header__Sumary{
    margin: 10px;
    font-size: 30px;
}
@media screen and (min-width:719px) {
    .H-Header__Avatar{
        display: inline;
        float: left;
        margin: 10px 10px 0;
    }
    .H-Header__tilte{
        text-align: left;
    }
}