body[theme="Dark"] .Projects_title{
    color: #ddd;
}
body[theme="Light"] .Projects_title{
    color: #242424;
    
}
.Projects{
    margin: 10px 5px 0;
}
body[theme="Light"] .Project__conten{
    background: linear-gradient(to top,#ffc700,#fd7e00);
    border: 3px solid #ffc700;
    outline: 3px solid #fd7e00;
    
}
.Project__conten{
    max-height: 90vh;
    overflow-y: auto;
}