.Skills{
    margin: 10px;
}

.Skills__content{
    border: 4px solid;
    outline: 4px solid;
}
.Skills__box{
    border-right: 3px solid;
    border-left: 3px solid;
}
.Skills__box.notpair{
    border-top: 3px solid;
    border-bottom: 3px solid;
}
.Skills__box.pair.last{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin: 0 0 5px;
}
.Skills__Skill, .Skills__Level{
    display: inline;
    font-size: 25px;
    margin: 10px 0 0;
}

body[theme="Dark"] .Skills__Level{
    color: #ddd;
    text-decoration: 1px underline #000;
}
body[theme="Light"] .Skills__Level{
    color: #242424;
    text-decoration: 1px underline #fff;
}
.Skills__Level.B{
    color: #ff2222 !important;
    text-decoration: none !important;
}
.Skills__Level.M{
    color: #000080 !important;
    text-decoration: none !important;
}
.Skills_Skill__icon{
    border-color: #fff;
}
.Skills_Skill__icon{
    border: 2px solid;
    max-width: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 0;
    
}

body[theme="Dark"] .Skills__title{
        color: #ddd;
}

body[theme="Dark"] .Skills__content div h3{
    color: #ddd;

}
body[theme="Light"] .Skills__title{
    color: #242424;
}
body[theme="Light"] .Skills__content div h3{
    color: #242424;
    }

body[theme="Dark"] .Skills__content{
    background: linear-gradient(to top, #344, #455);
    border-color: #233;
    outline-color: #122;
}
body[theme="Light"] .Skills__content{
    background-color: #aaaaaa;
    border-color: #a1a1a1;
    outline-color: #9a9a9a;
}

body[theme="Dark"] .Skills__box{
    border-color :#00aaaa ;
    }
body[theme="Light"] .Skills__box{
        border-color :#333 ;
    }        
body[theme="Dark"] .Skills__Skill{
    color: #ddd;
}
body[theme="Light"] .Skills__Skill{
    color: #242424;
}
/* 
body[theme="Light"] .Skills__Skill{
    color: #242424;
}
body[theme="Light"] .Skills_Skill__icon{
    border: none;
} */

@media screen and (min-width:376px) and (max-width:549px){
    .Skills__Skill,.Skills__Level{
        font-size: 40px;
        margin: 10px 0 0;
    }
    .Skills_Skill__icon{
        max-width: 40px;
    }
}
@media screen and (min-width:750px) {
    .Skills__Skill,.Skills__Level{
        font-size: 30px;
        margin: 15px 0 5px;
    }
    .Skills__box{
        max-height: 40px;
        /* overflow-x: hidden;   */
        
        white-space: nowrap;
    }
}
@media screen and (min-width:1350px) {
    .Skills__content{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;

    }
    .Skills__content_box{
        min-width: 300px;
        margin: 10px;
    }
}