Footer{
    display: grid;
    grid-template-areas:
        "title"
        "contact"
        "creditos"
        "firma"
    ;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100vw;
}
.Footer__tilte{
    grid-area: title;
    padding: 0 20px;
}
.Footer_tilte__text{
    margin-bottom: 15px;
}
.Footer_tilte__list{
    margin: 0;
    padding: 0 30px;
}

.Footer_tilte__link, .Footer_tilte__link:visited, .Footer_tilte__link:hover{
    margin: 0;
    padding: 0;
}

.Footer_Contact{
    grid-area: contact;
    /* margin: 0 0 0 40%; */
    padding: 0 20px 0;
    text-align: left;
    /* max-width: 50%; */
}   
.Footer__Contact_title{
    text-align: left;
}
.Footer_Contact a{
    display: block;
    margin: 10px 0;
}

.Footer__link__icon{
    max-width: 25px;
    padding: 1px;
    border-radius: 100%;
}

.Footer__link:hover{
    transition: all .3s;
    font-size: larger;
}
.Footer__link:hover .Footer__link__icon{
    max-width: 30px;
    transition: all .3s;
}
.Footer__creditos{
    grid-area: creditos;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 0;
}
.Footer__creditos .Footer__link{
    display: block;
    text-align: center;
    margin: 5px auto;
    padding: 0;
}
.Footer__firma{
    grid-area: firma;
    display: block;
    margin: 0 auto;
    padding: 0;
}
body[theme = "Dark"] .Footer{
    color: #ddd;
    background: linear-gradient(to top,#000000,#343434);
}
body[theme = "Light"] .Footer{
    color: #343434;
    background: linear-gradient(to top, #fff, #bababa);
} 
        
body[theme = "Dark"] .Footer_tilte__list li{
    color: #ddd;
}
body[theme = "Light"] .Footer_tilte__list li{
    color: #343434;
}

body[theme = "Dark"] .Footer_tilte__link{
    color: #ddd;
    }
body[theme = "Light"] .Footer_tilte__link{
    color: #343434;
}
body[theme="Dark"] .Footer__link__icon{
    border: 2px solid #ffffff;
    background-color: #f4f4f4
}

body[theme = "Dark"] .Footer__link,body[theme = "Dark"] .Footer__link:visited,body[theme = "Dark"] .Footer__link{
    color: #00aaaa;
}
body[theme = "Light"] .Footer__link,body[theme = "Light"] .Footer__link:visited,body[theme = "Light"] .Footer__link{
    color: #077;
}

body[theme = "Dark"] .Footer__creditos .Footer__link,body[theme = "Dark"] .Footer__creditos .Footer__link:visited,body[theme = "Dark"] .Footer__creditos .Footer__link{
    color: #cc0022;
}
    
body[theme = "Dark"] .Footer__link:hover{
    color: #0ff;
}
body[theme = "Light"] .Footer__link:hover{
    color: #078;
}
@media screen and (max-width:550px) {
    .Footer__link__icon{
        float: left;
    }
}

@media screen and (min-width:550px) {
    .Footer{
        display: grid;
        grid-template-areas: "title contact"
                             "creditos creditos"
                             "firma firma"
                             ;
        grid-template-columns: 50% 50%;
        font-size: 30px;
    }
    
    .Footer__tilte{
        grid-area: title;
    }
    .Footer__Contact{
        grid-area: firma;
    }
    .Footer__link, .Footer__Contact_title{
        text-align: right;
    }

    .Footer__creditos{
        grid-area: creditos;
    }
    .Footer__firma{
        grid-area: firma;
    }
}
@media screen and (min-width:1024px) {
    .Footer{
        grid-template-areas: "title empty contact"
                             "none creditos null"
                             "none firma null"
        ;
        grid-template-columns: 33% 33% 33%;
    }
    /* body[theme = "Dark"] .Footer_Contact{
        background-color: #fd7e00;
        
    } */
    
}