.Nav {
    height: 7vh;
    min-height: 35px;
}

body[theme = "Dark"] .Nav{
    background: #343434 ;
    color: #ddd;
}
body[theme = "Light"] .Nav{
    background: #bababa ;
    color: #242424;
}

.Nav__Swith_theme{
    float: right;
    max-height: 100%;
    /*height: 7vh; /*! Only debug*/
    /*min-height: 35px;   /*!Only debug*/
    /*position:fixed;    /*!only debug  */
    right: 10px;
    top: 10px;
}
.Nav__Swith_Lang{
    float: left;
    max-height: 100%;
}
.Nav__Title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width:450px){
    .Nav__Title{
        font-size: 11vw;       
    }
}
@media screen and (min-width:550px){
    .Nav__Title{
        text-align: left;
    }
    .Nav {
    height: 10vh;
    min-height: 60px;
}
}
@media screen and /*(max-width:1440px)and*/ (min-width:1200px){
/*==============Laptop===============*/
}
@media screen and (min-width:1440px){
    /*================TV=================*/
}